#main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  width: 960px;
  height: 960px;
}

div {
  border-style: none;
  margin: 0;
  padding: 0;
}

.rowDiv {
  display: flex;
}

.gridDiv {
  height: 100%;
}